{% extends 'base.html.twig' %}

{% block content %}
    <h1>Administration: List Articles <a class="btn btn-primary" href="/admin-article-add.php">Add <span class="glyphicon glyphicon-plus-sign"></span></a></h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
            <th>Image</th>
            <th>CreatedAt</th>
            <th>Enabled</th>
            <th>Activate</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
    {% for article in articles %} <tr>
        <td><a href="../article.php?id={{ article.id }}" target="_blank">{{ article.id }}</a></td>
        <td>{{ excer }}</td>
        <td>{{ ercercont }}</td>
        <td><img src="{{ article.image }}" " alt="{{ article.title }}"width="50" height="35"></td>
        <td>{{ article.created_at }}</td>
{% if article.enabled is true %}
        <td><span class="label label-success">enabled</span></td>
        <td><a href="../admin-article-activate.php?id={{ article.id }}&activate=false">Deactivate</a></td>
        {% endif %}
        {% if article.enabled is false %}
            <td><span class="label label-danger">disabled</span></td>
            <td><a href="../admin-article-activate.php?id=<?php echo $article['id'];?>&activate=1">Activate</a></td>
            {%  endif %}
        {% endfor %}
        <td><a href="../admin-article-edit.php?id=<?php echo $article['id'];?>">Edit</a></td>
        <td><a href="../admin-article-delete.php?id=<?php echo $article['id'];?>">Delete</a></td>
    </tr>
{% endblock %}
        </tbody>
    </table>