{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>{{ article.title }}</h1>
        <h1><a href="article.php?id={{ article.title }}">{{ article.title }}</a></h1>
        <img src="{{'uploads/article/img.jpg' }}" alt="" />
        <small>written by {{ article.user_id }}  on {{ article.created_at }}</small>
        <p>{{  article.content }}</p>
        <p> posted in category: <a href="{{ article.category_id }}"> {{ article.category_id }}</a></p>
        <p><a href="tag?id={{ article.category_id }} "<span class="label label-primary">Primary</span></p>




        </article>
</div>
{% endblock %}








